# AI模型使用阿里百炼平台 https://bailian.console.aliyun.com/

AI_TEXT_URL = 'YOUR_API_URL_HERE'
AI_TEXT_KEY = 'YOUR_API_KEY_HERE'
AI_TEXT_MODEL = 'YOUR_MODEL_HERE'

# 搜索工具
# Geogle工具使用API代理服务提高访问稳定性
# GOOGLE_CSE_ID获取方式 https://console.cloud.google.com/apis/credentials
# GOOGLE_API_KEY获取方式 https://programmablesearchengine.google.com/controlpanel/create
GOOGLE_CSE_ID = 'YOUR_CSE_ID_HERE'
GOOGLE_API_KEY = 'YOUR_API_KEY_HERE'

# MySQL数据库
DB_USER = 'YOUR_DB_USER_HERE'
DB_PASSWORD = 'YOUR_DB_PASSWORD_HERE'
DB_HOST = 'localhost'
DB_PORT = '3306'
DB_NAME = 'panda'